MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress
MYSQL_ROOT_PASSWORD=rootpassword

WORDPRESS_IMAGE_TAG=6.9.4-php8.3-apache
WORDPRESS_BIND_IP=127.0.0.1
WORDPRESS_PORT=8080
WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress

